# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.lib

# Go specific
.env
*.prof

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# macOS-specific files
.DS_Store

# IDE files
.idea/
.vscode/
*.idea
